.main{
	height: 300px;
	width: 300px;
	background-color: grey;
	position: relative;
	/*margin: auto;*/
	top: 50px;
	left: 50px;
	right: 0px;
	bottom: 0px;
	overflow: hidden;
}
.main ul {
	list-style-type: none;
	position: absolute;
	margin: 0px;
	padding: 0px;
	top: -15px;
	left: -15px;
}
.box1,.box2,.box3,.box4 {
	height: 30px;
	width: 30px;
	background-color: white;
	border-radius: 50%;
	position: absolute;
	/*margin-left: 30px;*/
}
.box1 {
	top: 0px;
	left: 0px;
}
.box2 {
	top: 0px;
	left: 300px;
}
.box3 {
	top: 300px;
	left: 0px;
}
.box4 {
	top: 300px;
	left: 300px;
}
.main1 {
	height: 400px;
	width: 400px;
	/*background-color: blue;*/
	position: relative;
}