*{
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}
h1{
	margin: 0px;
	padding: 0px;
}
.col-2 {
	width: 80%;
	border: 1px solid red;
	margin: auto;
}
.col-2 img {

}
.col-1, .col-3{
	text-align: center;
	padding: 10px;
	margin-top: 30px;
}
.navbar{
	margin-bottom: 10px;
}
.container1 {
	width: 100%;
	height: 400px;
	border: 2px solid red;
	position: relative;
}
.image-container {
	height: 100%;
	width: 100%;
	position: relative;
}
 img {
	height: auto;
	width: 100%;
}
@media only screen and (max-width: 480px){

	.col-1 h1{
		font-size: 22px;
	}
	.col-3 h1{
		font-size: 22px;	
	}
	.col-2 img {
		
	}
}