body {
	background-color: black;
	position: relative;
}

.main {
	width: 100%;
	height: 500px;
	position: relative;
}

.main ul{
	margin:0px;
	padding: 0px;
	list-style-type: none;
}
.main ul li {
	display: inline-block;
}
.box1,.box2,.box3,.box4,.box5,.box6,.box7,.box8,.box9,.box10,.box11,.box12,.box13,.box14 {
	height: 290px;
	width: 290px;
	background-color: red;
	border:3px solid grey;
}